body{
  margin: 0px;
  font-family: 'Roboto';
}

.app{
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "header"
    "page";
}

.headerComponent{
  grid-area: header;
}

.page_container{
  grid-area: page;
}